/* // Small devices (landscape phones, 576px and up) */
body{
    background-color: #F5CAA7;
    width: 1200px;
}
div.wrapper.menu-bg {
    background: #f0d7c2;
    box-shadow: inset 0 6px 5px -5px rgb(0 0 0 / 30%);
    overflow: visible;
    
}
.menu li>a{
    position:relative;
    display: inline-block;
    padding: 0 20px;
    height: 44px;
    line-height: 44px;
    font-size: 12px;
    color: #D16B18;
    text-transform: uppercase;
  text-decoration: none;
  }

/*----------------<HEADER>----------------*/
.page-header {
    position: relative;
  z-index: 10000;
  }
.page-header .grid_12 {
    margin-bottom: 0;
  }
.logo {
  display: block;
  float: left;
  padding-bottom: 17px;
  }
.logo img {
  display: block;
  margin-top: 17.5px;
  }
.menu{
    display: block;
    width: 100%;
    margin-left: 5px;
  }
.menu li{
    position: relative;
    display: inline-block;
    margin-right: 25px;
  }
.menu > li:first-child {
  margin-left: -10px;
  }
.menu li:hover span {
  color: rgb(181, 3, 3);
  }
.menu li > span {
  position: absolute;
  right: 20px;
  top: 16px;
  color: rgb(179, 6, 0);
  display:none;
  }
nav {
    -webkit-backface-visibility: hidden;
  }
/*.page-header > .wrapper-bg {
    display: inline-block;
  }*/
  
  
.b960 .menu li>a {
    padding: 0 10px;
  }
.headerstyle3 .menu>li>a,
.headerstyle3 .menu>ul>li>a {
  padding: 0 10px;
  }
.menu >li>a:after,
.menu>ul>li>a:after{
    position: absolute;
    top: 100%;
    left: 0;
    content:'';
    display: block;
    height: 1px;
    width: 100%;
    background: transparent;
    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
            transition: all 0.3s linear;
  }
.page-header .menu-bg  > .container {
  text-align: center;
  }
.menu li:hover>a:after,
.menu li.current_page_item>a:after{
    background: #D16B18;
  }
  /*.menu li:hover>a,
  .menu li.current_page_item>a{
    color: #278dc9;
  }*/
.menu li:hover> ul {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    height: auto;
    overflow: visible;
  }
.menu .sub-menu li .sub-menu,
.menu ul li ul li ul {
  left: 100%;
  top: -1px;
  border: 0;
  
  }
.menu li ul {
    position: absolute;
    top: 100%;
    left: 0px;
    min-width: 185px;
    overflow: hidden;
    height: 0px;
    border-top: 1px solid transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background: #D16B18;
    z-index: 9999;
    text-align: left;
    -webkit-transform: translateZ(0);
  }
.menu {
  text-align: left;
  }
/*.mobile .menu>li:hover>.sub-menu {
  height: 0;
  }*/
.menu li ul li {
  border-top: solid 1px #eecdb225;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  display: block;
  -webkit-backface-visibility: visible;
  margin: 0;
  }
.menu li> ul>li:first-child{
    border-top-width: 0px;
  }
.menu li ul li a {
    display: block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #d16b18;
    text-transform: none;
    background-color: #f5caa7;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
    text-decoration: none;
    white-space: nowrap;
}
.menu li>ul>li>a:hover{
    background-color: #fcd7a6bd;
  }

#menu-btn {
    width: 27px;
    height: 13px;
    background: no-repeat;
    position: relative;
    margin: 18px;
    display: none;
} 
.menu {
    display: flex;
    width: 100%;
    margin-left: 5px;
}
ul, li {
    padding: 0;
    margin: 0;
}
user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.headerstyle3 .menu-bg .container {
    text-align: left;
}
.page-header .menu-bg > .container {
    text-align: center;
}
 
 
.headerstyle3 .menu, .headerstyle2 .menu {
    width: auto;
    float: right;
}
.headerstyle3 .menu {
    margin-right: -36px;
}
.menu {
    text-align: left;
}
.menu {
    display: block;
    width: 100%;
    margin-left: 5px;
}
ul, li {
    padding: 0;
    margin: 0;
}
 
.logo img {
    display: block;
    margin-top: 0px;
} 
.logo {
    display: flex;
    float: left;
    padding-bottom: 0px;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
element.style {
    padding-top: 0px;
    padding-bottom: 0px;
}
/* *, ::after, ::before {
    box-sizing: border-box;
    scroll-padding: 0px 0px;
}
*, ::after, ::before {
    box-sizing: border-box;
} */

.navbar-dark .navbar-brand {
    color: #d16b18;
    font-size: 1rem;
}



.bg-dark {
    --bs-bg-opacity: 90%;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg- ))!important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #d16b182c;
    font-size: 1rem;
} 

.dropdown-menu-dark .dropdown-item{
    color: #D16B18;
    background-color: #f5caa7a8;
     
}
.dropdown-menu.show {
    display: block;
    background-color: #f5caa7e7;
}
.dropdown-menu-dark .dropdown-item:focus, .dropdown-menu-dark .dropdown-item:hover {
    color: #080600;
    background-color: rgba(255,255,255,.15);
}
.fondo{
    display:flex;
    background-color: rgba(255, 255, 255, 0.179);
    border:none;
    width: 1200px;
    margin: 0px;
}

h2{
  
  align-items: center;
}

img, svg {
  vertical-align: middle;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.card{
    border:none;
}
.card-img-top{
    border-radius: 50%;
}
 

.col img{
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.page-header {
    position: relative;
    z-index: 10000;
}
#menu-btn {
    width: 27px;
    height: 13px;
    background:   no-repeat;
    position: relative;
    margin: 18px;
    display: none;
}
.text-center {
    text-align: center!important;
}
.ms-auto {
    margin-left: auto!important;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0rem;
    padding-bottom: 0rem;
}
.navbar-light .navbar-toggler {
    color: #D16B18;
    border-color: #d16b1898;
}
.navbar-toggler {
    padding: .20rem .60rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}
.div.row.fondo{
     box-align: 1200px;
}

 
.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}
 
.center {
  text-align: center;
  padding-top: 8px;
  font-size: Nova;
  color:#D16B18;
  }
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 576px) {}
    


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {     }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }



.recommendations{
border-collapse: collapse;
font-size: 13px;
-webkit-box-direction: normal;
font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
-webkit-font-smoothing: antialiased;
}
/* .row .center .container highlight-seeds{
border-collapse: collapse;
font-size: 13px;
-webkit-box-direction: normal;
font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
-webkit-font-smoothing: antialiased;
max-width: 1200px;
margin: 0 auto;
padding: 40px 0;
position: relative;
display: flex;
flex-wrap: wrap;
flex-basis: 100%;
} */
.home .row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}

.home .row {
  position: relative;
}
section>.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20 px 0;
}
.carousel-container{
  border-collapse: collapse;
  font-size: 13px;
  -webkit-box-direction: normal;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  right: 45px;
}
.slick-initialized .slick-slider{
  border-collapse: collapse;
  font-size: 13px;
  -webkit-box-direction: normal;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  display: block;
  position: static;
}
.slick-slider {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  
}
div.slick-slide .slick-active{

width: 50px;
}
.slick-list{
  border-collapse: collapse;
  font-size: 13px;
  -webkit-box-direction: normal;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  transform: translateZ(0);
  height: 415px;
  margin-bottom: -78px;
  white-space: nowrap;
}
.slick-track{
  border-collapse: collapse;
  font-size: 13px;
  -webkit-box-direction: normal;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  position: relative;
  top: 0;
  left: 0;
  display: flex;

  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  width: 8400px;
}
.slick-slide  {
  border-collapse: collapse;
  font-size: 13px;
  -webkit-box-direction: normal;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  float: left;
  height: 100%;
  min-height: 1px;
  display: block;
  position: relative;
  width: 240px;
  width: 240px;
    border: 3px;
    margin: 2px;
    /* padding-bottom: 2px; */
    border: red 2px solid;
}
 
.ui-item__wrapper .trigger-item__wrapper{
  border-collapse: collapse;
  font-size: 13px;
  -webkit-box-direction: normal;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  margin: 0 8px 16px;
  width: 224px;
  height: 314px;
  width: 240px;
  
}
 

.ui-item .trigger-item{
  border-collapse: collapse;
  font-size: 13px;
  -webkit-box-direction: normal;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  text-decoration: none;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  z-index: 1;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  display: inline-block;
  vertical-align: text-top;
  margin: 0;
  width: 224px;
  height: 330px;
  transition: height .1s ease-out;
  white-space: normal;
}

.ui-item__image-container{
  border-collapse: collapse;
  font-size: 13px;
  -webkit-box-direction: normal;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  color: #333;
  -webkit-font-smoothing: antialiased;
  white-space: normal;
  overflow: hidden;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  box-sizing: border-box;
  margin: 20px;
  width: 184px;
  height: 184px;
  border: red 2px solid;
}

.ui-item__link{
  border-collapse: collapse;
  font-size: 13px;
  -webkit-box-direction: normal;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  white-space: normal;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  
  width: 100%;
  height: 100%;
  z-index: 1;
  
}

.ul-item__image{
  border-collapse: collapse;
  font-size: 13px;
  -webkit-box-direction: normal;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  white-space: normal;
  cursor: pointer;
  aspect-ratio: auto 224 / 224;
  box-sizing: border-box;
  border-radius: 4px;
  display: block;
  width: 184px;
  height: 184px;
  margin: 20px auto;
  box-shadow: 0 -1px 30px 0 rgba(0,0,0,.2),0 2px 3px 0 rgba(0,0,0,.1);
}
.ul-item__content{
  border-collapse: collapse;
  font-size: 13px;
  -webkit-box-direction: normal;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  color: #333;
  -webkit-font-smoothing: antialiased;
  white-space: normal;
  box-sizing: border-box;
  position: relative;
  border-top: 1px solid rgba(51,51,51,.1);
  padding: 20px 16px;
  border-top-color: transparent;
}
.ui-item__price-block{
  border-collapse: collapse;
  font-size: 13px;
  -webkit-box-direction: normal;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  color: #D16B18;
  -webkit-font-smoothing: antialiased;
  white-space: normal;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: -2px;
  transition: margin-top .1s ease-out;
}

 
.price-tag-amount{
  border-collapse: collapse;
  -webkit-box-direction: normal;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  white-space: normal;
  color: #D16B18;
  font-size: 24px;
  line-height: 1em;
  float: left;
  box-sizing: border-box;
}
.price-tag-symbol{
  border-collapse: collapse;
  -webkit-box-direction: normal;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  white-space: normal;
  color: #D16B18;
  font-size: 24px;
  line-height: 1em;
  float: left;
  box-sizing: border-box;
  margin-right: .2em;
  height: 24px;
  display: inline-flex;
  align-items: flex-end;
}
.price-tag-fraction{
  display:flex;
  border-collapse: collapse;
  -webkit-box-direction: normal;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  white-space: normal;
  color: #D16B18;
  font-size: 24px;
  line-height: 1em;
  float: left;
  box-sizing: border-box;
  height: 24px;
  display: inline-flex;
  align-items: flex-end;
}
 